body {
font font-style: Open Sans;

}

nav {
  background-color: #f1f1f1;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: left;
  padding-bottom: 40px;
  
  padding-top: 30px;
}

.tuitt-button{

  background-color:#c2195b;
  color: #fff;
  padding: 5px 20px;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 25px;
  margin-left: 25px;
}

.nav-logo img {
  height: 40px;
   padding-left: 40px;
  background-color: #f1f1f1;
  position: absolute;
 

}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin-left: 20px;
}


.title{
	position: relative;
	top: 50px;
	margin-bottom: 20px;
	color: whitesmoke	;
	margin-left: 35%;
	font-size: 30px;
	font-style: sans-serif;
	font-size: 1.7em;
}
.subtitle{
	position: relative;
	top: 50px;
	color: whitesmoke	;
	margin-left: 20%;
	font-size: 15px;
   font-family: sans-serif;
	font-style: oblique;
	align-content: stretch;
	letter-spacing: -.8px;


}
.intro-description{

 position:relative;
	font-family: sans-serif;
	margin-left: 20px;
	height: px;
	margin: 30px;
	align-content: stretch;

}

.apply-button{
   background-color: #c2195b;
  border-radius: 20px;
   margin-left: 80%;
   padding: 10px;
   padding-left: 30px;
    padding-right: 30px;
   margin-top: 100px;
   color: whitesmoke;
}

.front-bg {
	min-height: 90vh;
	background-image: url( https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 90%;

	background-position: center top;
	background-attachment: fixed;
}

.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
	}

.intro{
	margin-top: 100px ;
	margin-bottom: 100px;
	text-align: center;
	font-family: sans-serif;
	

}

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	padding: 100px;
	position:relative;
	font-family: sans-serif;
	margin-left: 20px;
	height: px;
	margin: 30px;
	align-content: stretch;
}

.book-button{
	margin-top:50px;
	display: inline;
   color: whitesmoke;
   border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #336589;
   
}